body {
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 1em;
}

h1 {
    font-size: 2.5em;
    color:#B0C4DE;
    margin: 0;
}

h3 {
    font-size: 1.5em;
    color:#B0C4DE;
    margin: 0.2em 0 0.8em;
}

.buttons {
    font-size: 1.3em;
    margin-bottom: 1em;
}

button {
    margin: 0 2em;
    padding: 0.3em 1.2em;
    background-color: #DA70D6;
    outline: none;
    border: 2px solid white;
    border-radius: 0.5em;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

table {
    border-spacing: 0.2em;
    border: 1.5em solid #4682B4;
    border-radius: 2.5em;
    padding: 0.3em;
}

td {
    width: 1.6em;
    height: 1.6em;
    background-color: #E6E6FA;
}

.single {
    background-color: #FFF5EE;
}

.alternating-0 {
    background-color: #FF1493;
}

.alternating-1 {
    background-color: #00BFFF;
}

.many-colors-0 {
     background-color: #228B22;
}

.many-colors-1 {
     background-color: #32CD32;
}

.many-colors-2 {
     background-color: #9ACD32;
}

.many-colors-3 {
     background-color:  #ADFF2F;
}

.many-colors-4 {
     background-color: #00FF7F;
}
