body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

table {
    border-spacing: 0.2em;
    border: 1.5em solid #48D1CC;
    border-radius: 2.5em;
    padding: 0.3em;
}

td {
    width: 2em;
    height: 2em;
    background-color: #E6E6FA;
}

.change-background-color {
    background-color: #9370DB;
}
