body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

table {
    border-spacing: 0.5em;
}

td {
    width: 4em;
    height: 4em;
    border: 1px solid gray;
}

.change-background-color {
    background-color: #9370DB;
}
